.img-carrito{
    width: 25px;
    height: 25px;
    cursor: pointer;
    vertical-align:sub;
}
.num{
    color: #eee;
}
.productCarrito{
    color:#108568;
    cursor: pointer;  
}

.carritoOpen{
    position: absolute;
    background-color: #252425;
    margin-top: 10px;
    top:2.5rem;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
    text-align: center;
}
.carritoOpen img{
height: 60px;
width: 60px;
}
.carritoOpen .button{
    display: block;
    width: 50%;
    color: #108568;
    background-color: #b6b0a2;
    border: none;
    margin: 10px auto;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
}