.adminItems{
    margin-top: 100px;
}
.adminItems input,
.adminItems select{
    display:block;
}
.card.admincard{
    height: 750px;
    text-align: center;
}
.delete{
    color:red;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 20px;
    border:1px solid red;
    border-radius: 5px;
    padding: 5px;
}
.edit{
    color:blue;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border:1px solid blue;
    border-radius: 5px;
    padding: 5px;
}